.side-image{
    width: 100%;
    margin: 20px;
}
:root{
    --bg-color:black
}
.logincontainer{
    
    margin: 5px;
    padding: 20px;
    width: 40%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    left: 30%;
    top: 6em;
}
.heading{
    text-align:left;
    color:var(--bg-color);
    margin: 20px;
    font-size: 30px;
}
.label{
    color: var(--bg-color);
    font-size: 20px;
    margin-left: 5px;
}
.inputgroup input{
    background-color: rgba(250, 253, 255, 0.968);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    width: 80%;
    margin: 5px;
    padding: 10px;
    border-radius: .5em;
    border: 1px solid rgb(142, 142, 160);
}
.btnsubmit{
    background-color:rgb(111, 172, 46);
    color: white;
    cursor: pointer;
    border-radius: .3em;
    padding: 15px;
    font-size: 20px;
    margin: 10px;
    border-width: 0px;
}
.check{
    display: inline;
    padding: 10px;
}
.show{
display: inline;
margin-left: 10px;
}

.logincontainer a{
    cursor: pointer;
    font-size:20px;
}